{% extends "base.html" %}

{% block content %}

<div class="span-24 last">
    <h2>PyLadies LA</h2>

    <p>
        We're an active chapter with events every month.  Join us!
    </p>
</div>

<div class="span-12">
<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=la%40pyladies.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="400" height="300" frameborder="0" scrolling="no"></iframe>
</div>

<div class="span-12 last">
<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=la%40pyladies.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="500" height="300" frameborder="0" scrolling="no"></iframe>
</div>

{% endblock %}
